TFAutoModelForSequenceClassification, AutoTokenizer
tensorflow
nltk
pandas
CountVectorizer
stopwords
WordCloud
matplotlib.pyplot
train_test_split
AutoTokenizer
TFTrainingArguments
TFAutoModelForSequenceClassification
TFTrainer
tensorflow
wandb
confusion_matrix
Sequential
Activation
Dense
Dropout
LSTM
matplotlib.pyplot
numpy
pandas
mean_absolute_error
mean_squared_error
layers
numpy
matplotlib.pyplot
r2_score